*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
    font-family: "Myriad";
    src: url('Fonts/MyriadPro-Regular.otf'),
    url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	margin:0;
	background: #eff1f4;
  font-family: "Myriad";
}

p
{
	color: Black;
	font-size: 15px;
}

h1
{
	margin: 10px;
	font-size: 20px;
}

/* Viewports */

.row::after {
    content: "";
    clear: both;
    display: table;
	  width: 100%;
}

[class*="col-"]
{
    float: left;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* End of Viewports */

/* Header */

.parallax-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  width: 100%;
  height: 100%;
}

.header-logo img {
  height: 10%;
  display: block;
}

.header-caption {
  font-family: "Myriad";
  width: 100%;
  height: 80%;
  padding: 15%;
}

.header-caption h2{
  font-family: "Myriad";
  font-size: 50px;
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  text-shadow: 5px 5px 15px black;
}

.header-caption p{
  font-family: "Myriad";
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 15px black;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

.bottom-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
/* Style the list */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #233d91;
}

ul.topnav-smaller {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #233d91;
}

ul.topnav-fixed {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #233d91;
}
ul.topnav li {
  float: center;
  display: inline-block;
}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  color: white;
}

ul.topnav li a:hover {
  font-size: 24px;
  text-decoration: underline;
}

ul.topnav li.icon {display: none;}

/* End of Header */

/* Our Company */
.company {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Heading Company */
.heading-company {
  background-color: #daa520;
  color: #233d91;
  width: 100%;
}

.heading-company-fixed{
  background-color: #daa520;
  width: 100%;
  color: #233d91;
  margin-top: 3.4%;
}

.heading-company h1{
  text-align: left;
  font-family: "Myriad";
  font-size: 30px;
}

/* End of Heading Company */

/* Body Company */
.body-company {
  padding: 3%;
}

.body-company h1{
  text-align: left;
  font-family: "Myriad";
  font-size: 30px;
}

.body-company {
  height: 100%;
}

/* End of Body Company */

/* Mission and Vision */
.mv {
  width: 100%;
  height: auto;
}

.mv h1{
  text-align: center;
  font-family: "Myriad";
  font-size: 22px;
}

.mission {
  height: 100%;
  padding: 1%;
}

.vision {
  height: 100%;
  padding: 1%;
}

.mission img {
  display: block;
  margin: auto;
  width: 30%;
}

.vision img {
  display: block;
  margin: auto;
  width: 30%;
}

.vision img:hover {
  width: 40%;
}

.mission img:hover {
  width: 40%;
}

/* Mission and Vision Modal */
.myBTN:hover{
  background-color: black;
  color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* End of Mission and Vision */


/* End of Company */

/* Mobile Version */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  .bottom-nav {
    top: 0;
  }

  .heading-company h1
  {
    text-align: center;
  }
}

@media screen and (max-width:680px)
{
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  .bottom-nav {
    top: 0;
  }

  .heading-company h1
  {
    text-align: center;
  }
}
