*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
    font-family: "Myriad";
    src: url('Fonts/MyriadPro-Regular.otf'),
    url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	margin:0;
	background: #eff1f4;
  font-family: "Myriad";
}

p
{
	color: Black;
	font-size: 15px;
}

h1
{
	margin: 10px;
	font-size: 20px;
}

/* News and Events body */
.client-list {
  clear:both;
  height: auto;
  width: 100%;
  background-color: white;
  position: relative;
}

/* Heading Services */
.heading-client-list {
  z-index: -100;
  background-color: #daa520;
  color: #233d91;
  width: 100%;
  height: auto;
}

.heading-client-list-fixed{
  background-color: #daa520;
  width: 100%;
  color: #233d91;
  margin-top: 3.4%;
}

.heading-client-list h1{
  text-align: left;
  font-family: "Myriad";
  font-size: 30px;
  padding-left: 2%;
}

.clients-body-row {
  padding: 2%;
  height: 10%;
  overflow: hidden;
  width: 100%;
}

.clients-body {
  padding: 2%;
  position: relative;
  height: 100%;

}

.image {
  margin:auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.div-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #021e7a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.clients-body:hover .div-overlay {
  height: 20%;
}

.text {
  font-family: "Myriad";
  font-variant: small-caps;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .clients-body-row {
    display: table;
  }

  .clients-body {
    vertical-align: center;
    display: table-cell;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .clients-body-row {
    display: table;
  }

  .clients-body {
    vertical-align: center;
    display: table-cell;
  }
}
