*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
    font-family: "Myriad";
    src: url('Fonts/MyriadPro-Regular.otf'),
    url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	margin:0;
	background: #eff1f4;
  font-family: "Myriad";
}

p
{
	color: Black;
	font-size: 15px;
}

h1
{
	font-size: 20px;
}

/* Contacts */
.contacts {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Heading Contacts */
.heading-contacts {
  z-index: -100;
  background-color: #daa520;
  color: #233d91;
  width: 100%;
  padding: 5px;
}

.heading-contacts-fixed {
  background-color: #daa520;
  color: #233d91;
  width: 100%;
  margin-top: 3.4%;
}

.heading-contacts h1{
  text-align: left;
  font-family: "Myriad";
  font-size: 30px;
  padding-left: 2%;
}

.body-contact h2{
  background-color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Myriad";
}

.body-contact p{
  background-color: white;
  font-size: 15px;
  text-align: center;
  font-family: "Myriad";
}

.body-contact {
  background-color: white;
  padding: 3%;
  height: 100%;
  clear:both;
}

.contact-body-container {
  height: 60%;
  text-align: center;
}

.container-head {
  padding: 6.25%;
  background-color: #daa520;
  height: 100%;
}

.container-head h2:hover {
  font-size: 40px;
  cursor: pointer;
}

.container-bodies {
  padding: 6.25%;
  background-color: #233d91;
  height: 100%;
}

.container-bodies h2:hover {
  font-size: 40px;
  cursor: pointer;
}

/* The Modal (background) */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header-container {
  background-color: #233d91;
  color: white;
  padding: 2%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* Modal Content */
.modal-content-container {
    border-radius: 20px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatewidth;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-name: animatewidth;
    animation-duration: 0.5s
}

.modal-body-container {
  width: 100%;
  padding: 2%;
}
/* Add Animation */
@-webkit-keyframes animatewidth {
    from { width: 0; opacity:0}
    to {width: 80%; opacity:1}
}

@keyframes animatewidth {
  from {width: 0%; opacity:0}
  to {width: 80%; opacity:1}
}

/* The Close Button */
.container-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.container-close:hover,
.container-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body-container input[type=text], .modal-body-container input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-body-container input[type=text]:focus, .modal-body-container input[type=email]:focus,
.modal-body-container textarea:focus{
    border: 3px solid #233d91;
}

.modal-body-container textarea {
  width: 100%;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
}

.modal-body-container input[type=submit] {
    font-family: "Myriad";
    width: 100%;
    background-color: #233d91;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-body-container input[type=submit]:hover {
    background-color: #daa520;
}
