*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
    font-family: "Myriad";
    src: url('Fonts/MyriadPro-Regular.otf'),
    url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	margin:0;
	background: #eff1f4;
  font-family: "Myriad";
}

p
{
	color: Black;
	font-size: 15px;
}

h1
{
	font-size: 20px;
}

.footer {
  margin-top: -4px;
  background-color: white;
  width: 100%;
  background-color: white;
  clear:both;
}

.footer-body {
  text-align: center;
  color: #021e7a;
  font-size: 14px;
  padding: 15px 30px;
  text-decoration: none;
}

.footer-body-middle {
  text-align: center;
  color: #021e7a;
  font-size: 14px;
  padding: 2.5% 30px;
  text-decoration: none;
}

.mother img {
  max-width: 60%;
  max-height: 50px;
}

.child {
  width: 80%;
  margin-left: 10%;
}

.child img {
  max-width: 30%;
  max-height: 50px;
}

.footer-body img:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .child img {
    max-width: 100%;
    max-height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  /* For Desktop: */
  .child img {
    max-width: 100%;
    max-height: 50px;
  }
}
