*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
    font-family: "Myriad";
    src: url('Fonts/MyriadPro-Regular.otf'),
    url('Fonts/MyriadPro-Regular.otf'); /* IE */
}

html
{
	height: 100%;
  font-family: "Myriad";
}

body
{
	height: 100%;
	margin:0;
	background: #eff1f4;
  font-family: "Myriad";
}

p
{
	color: Black;
	font-size: 15px;
}

h1
{
	margin: 10px;
	font-size: 20px;
}

/* Services */

.services {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Heading Services */
.heading-services {
  z-index: -100;
  background-color: #daa520;
  color: #233d91;
  width: 100%;
  height: auto;
  border: 5px solid #021e7a;
}

.heading-services-fixed{
  background-color: #daa520;
  width: 100%;
  color: #233d91;
  margin-top: 3.4%;
  height: auto;
}

.heading-services h1{
  text-align: left;
  font-family: "Myriad";
  font-size: 30px;
  padding-left: 2%;
}

/* End of Heading Services */

/* Services Body */
.body-services {
  height: 100%;
}

.image-services {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  opacity: 1;
  z-index: 10;
}

.image-services:hover .overlay{
  opacity: 0.7;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #233d91;
}

.overlay-text {
  font-family: "Myriad";
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* End of Services Body */

/* End of Services */

/* Mobile Version */
@media screen and (max-width:680px) {
  .heading-company h1
  {
    text-align: center;
  }
}

@media screen and (max-width:680px)
{
  .heading-company h1
  {
    text-align: center;
  }
}
