.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 5%;
  text-decoration: none;
  font-family: "Myriad";
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.ul-list p{
  padding: 5%;
  text-decoration: none;
  font-family: "Myriad";
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #B3B3B3;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.backbtn{
  cursor: pointer;
  position: absolute;
  top: 1%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

input[type="file"] {
  display: none;
}

input[type="submit"]{
  display: none;
}

.sidenav-buttons {
  border-top: 1px solid rgba(140, 140, 140, 0.15);
  border-bottom: 1px solid rgba(140, 140, 140, 0.15);
  padding: 5%;
  text-decoration: none;
  font-family: "Myriad";
  font-size: 15px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.save-publish {
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5%;
  text-decoration: none;
  font-family: "Myriad";
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.save-publish:hover {
  font-size: 25px;
}

.sidenav-buttons:hover {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

.sidenav input[type=text], .sidenav input[type=number] {
  font-family: "Myriad";
  font-weight: bold;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.sidenav input[type=color]{

  margin-bottom: 10px;
  width: 100%;
}

.sidenav input[type=text]:focus, .sidenav input[type=number]:focus, .sidenav input[type=color]:focus{
  border: 3px solid #555;
}

.sidenav input[type=text]:hover, .sidenav input[type=number]:hover, .sidenav input[type=color]:hover {
  border: 3px solid #555;
}

.body-holder {
  transition: 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
